.app-container .search-field {
  width: 50%;
}
.app-container .search-field .results{
  width: 95%;
}
.app-container .search-field .ui.search, .app-container .search-field .ui.search .ui.icon.input {
  width: 100%;
}